body {
    margin: 0;
    font-family: Poppins;
}
    .Nav {
        padding: 18px;
        background-color: #3a3633;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Nav > a {
        color: #fff;
        margin: 0 40px;
        text-decoration: none;
        transition: opacity 0.2s ease-in-out;
    }
    .apple {
        display: block;
    }
    .Nav > a:hover {
        opacity: 0.7;
    }