body {
  margin: 0;
}

.mobile-nav-button img {
  width: 18px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding-left: 50px;
  padding-right: 50px;
}

.desktop-nav ul {
  list-style: none;
  display: flex;
}

.desktop-nav ul li {
  margin: 0 20px;
}

@media (min-width: 800px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 799px) {
  .desktop-nav {
    display: none;
  }
}